# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/

# Логи, временные файлы
*.log

